/* Google Fonts */
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Abel Regular'), local('Abel-Regular'), url(https://fonts.gstatic.com/s/abel/v10/MwQ5bhbm2POE2V9BPbh5uGM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Bungee Outline';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bungee Outline'), local('BungeeOutline-Regular'), url(https://fonts.gstatic.com/s/bungeeoutline/v5/_6_mEDvmVP24UvU2MyiGDslL3TgwaBNIPmxp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Body */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
  background-color: #3a4752;
}

/* Pages */
section {
  min-height: 100vh;
  width: 100%;
  margin: 0;
}
section.light {
  background-color: #eeeeee;
}

/* Inputs */
input[type="text"] {
  width: 100%;
  border: 1px solid $grey;
  margin: 0;
  padding: 0;
  height: 30px;
  text-indent: 10px;
  font-size: 1rem;
  line-height: 1.2rem;
  border-radius: 2px;
}

/* Transitions */
.page-leave-active {
  transition: opacity 0.5s;
}
.page-leave-active {
  opacity: 0;
}
.page-enter-active {
  animation: acrossIn .45s ease-out both;
}
@keyframes acrossIn {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.fade-enter-active {
  transition: all .6s ease;
}
.fade-leave-active {
  transition: all .6s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter, .fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  transition: 0.3s;
  max-width: 1024px;
  margin: 20px auto 20px;
}
@media screen and (max-width: 768px) and (min-width: 561px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 560px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
