// GLOBAL
$speed: 0.3s;
$radius: 3px;
$shadow: #111111;

// COLORS
$orange: #df803f;
$yellow: #d5bd3a;
$blue: #1e4499;
$red: #9f0000;
$green: #009975;
$black: #111111;
$grey: #999999;
$eggshell: #eeeeee;
$white: #ffffff;

// PALETTE
$primary: #1f252e;
$secondary: #3a4752;
$accent: #5aa779;
$light: #22f025;
