@mixin flex($direction, $wrap, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align
}
@mixin position($pos, $top, $rgt, $btm, $lft) {
  position: $pos;
  top: $top;
  right: $rgt;
  bottom: $btm;
  left: $lft;
}
@mixin card() {
  @include flex(row, wrap, flex-start, flex-start);
  background-color: $primary;
  border-radius: $radius;
  box-shadow: 0 2px 8px $shadow;
}
